/* 
This is a CSS file. It controls stlye on the site (i.e. colors, fonts, etc)

You do this by calling elements by their HTML tag name, class, or id - and then setting modifications to them.

Then we simply call the CSS file in every page we want to use it in. 

*/
:root { 
    --egyptian-blue: #003195;
    --white: #FFFFFF;
    --orange-yellow: #FFC20F;
    --green-blue-crayola: #058ED9;
    --steel-teal: #6E8387;
}

/* Nav */
.navbar,
.navitem.dropdown {
    background-color: black;
    border-color: var(--steel-teal);

}

.nav-link,
.dropdown-item {
    color: var(--white);
}

.nav-link:hover,
.dropdown-item:hover {
    color: var(--orange-yellow);
}

.dropdown-item {
    color: var(--white);
    background-color: var(--egyptian-blue);
    border-top: 2px double var(--steel-teal);
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown.toggle {
    background-color: var(--egyptian-blue);
}

.dropdown-toggle:focus {
    color: var(--orange-yellow);
}

.dropdown-menu {
    padding: 0;
}

.nav-item.dropdown.show {
    color: black;
    background-color: var(--orange-yellow);
}